header {
    padding-bottom: 40px; 
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #343a40;
}

#overview {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#overview .lead {
    font-size: 1.2rem;
    color: #495057;
    line-height: 1.6;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;
    font-weight: bold;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}
body {
    background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
    background-attachment: fixed;
}
